
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3"></div>
        <div class="col-sm-6 col-md-3"></div>
        <div class="col-sm-6 col-md-3"></div>
        <div class="col-sm-6 col-md-3"></div>
    </div>
</div>
<div class="copyright">
</div>
<div class="container"></div>
    <footer>
      <!-- Footer main -->
      <section class="ft-main">
        <div class="ft-main-item">
          <h2 class="ft-title">Навигация</h2>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">За Нас</a></li>
            <li><a href="#">Уроци</a></li>
            <li><a href="#">Статии</a></li>
            <li><a href="#">Донирай</a></li>
          </ul>
        </div>
        <div class="ft-main-item">
          <h2 class="ft-title">Контакт</h2>
          <ul>
            <li><a href="#">Свържете се с Нас</a></li>
          </ul>
        </div>
        <div class="ft-main-item">
          <h2 class="ft-title">Stay Updated</h2>
          <p>Subscribe to our newsletter!</p>
          <form>
            <input type="email" name="email" placeholder="Enter email address">
            <input type="submit" value="Subscribe">
          </form>
        </div>
      </section>
     
      <!-- Footer social -->
      <section class="ft-social">
        <ul class="ft-social-list">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </section>
     
      <!-- Footer legal -->
      <section class="ft-legal">
        <ul class="ft-legal-list">
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </section>
    </footer>
