* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-logo {
    width: 3rem;
    height: 3rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* BODY - TITLE AND WELCOME */
.welcome{
    padding: 6rem;
}
 .large_title {
    color:white;
    text-align:justify;
    line-height: 0.8;
    font-size: 5rem;
    margin-top: 0;
}
.welcome_message{
    color:white;
    text-align:justify;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.welcome_underline{
width: 10rem;
}
.big_square{
  width: calc(100% / 2);
  float: left;
  position: relative;
  padding-bottom: calc(100% / 3);
}
.small_square{
    width: calc(100% / 3);
    float: left;
    position: relative;
    padding-bottom: calc(100% / 5);
  }
  .big_square.content{
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    margin: 1px;
    padding: 16px;
    position: absolute;
    color: white;
    background-color: #0095ff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
    .small_square.content{
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    margin: 1px;
    padding: 16px;
    position: absolute;
    color: white;
    background-color: #7c0c73;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

@media (max-width: 800px)
{
    .large_title{
        font-size: 28px;
    }
    .welcome_message{
        font-size: 14px;
    }
    .welcome_underline{
        width: 6rem;
        }
}