<div>
    <div class="background">
    <h3 class="Title"> Пастори </h3>

    <div class="presentation_container">
        <ul class="image-gallery">
            <li>
                <img src="../../assets/images/Aврам.webp" alt="" />
                <div>
                    <h3 id="PastorName">Аврам</h3>
                    <h4 style="color:white; font-size:18px;">Пастор</h4>
                </div>
            </li>
            <li><img src="../../assets/images/Vaska.webp" alt="" />
                <div>
                    <h3 id="PastorName">Васка</h3>
                    <h4 style="color:white; font-size:18px;">Водещ Пастор</h4>
                </div>
            </li>
        </ul>
    </div>
</div>
    <br>
    <div id="descriptive-text">
        <p>
            I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double
            click
            me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on
            your
            page. I’m a great place for you to tell a story and let your users know a little more about you.
            This is a great space to write long text about your company and your services. You can use this space to go
            into
            a little more detail about your company. Talk about your team and what services you provide. Tell your
            visitors
            the story of how you came up with the idea for your business and what makes you different from your
            competitors.
            Make your company stand out and show your visitors who you are.
        </p>
    </div>
</div>