<header>
    <nav class="navbar flex flex-jc-sb flex-ai-c">
        <a href="/" class="header_logo">
            <img src="../assets/images/logo_church.gif" alt="Nebesnohvalenie">
        </a>
        <a id="btnHamburger" href="#" class="header_menu hide-for-desktop">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <div class="header_links hide-for-mobile">
            <a routerLink="/about_us">За Нас</a>
            <a routerLink="/streams">Предавания</a>
            <a routerLink="/lessons">Уроци</a>
            <a routerLink="/articles">Статии</a>
            <a href="#">Donate</a>
        </div>
    </nav>
</header>