<nav class="navbar">
    <div>
        <img class="brand-logo" src="../assets/images/logo_church.gif" alt="Nebesnohvalenie">
    </div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a routerLink="/about_us">За Нас</a></li>
            <li><a href="streams.html">Предавания</a></li>
            <li><a routerLink="/lessons">Уроци</a></li>
            <li><a href="articles.php">Статии</a></li>
            <li><a href="#">Donate</a></li>
        </ul>
    </div>
</nav>