<!DOCTYPE html>
<section>
    <div class="welcome_image">
        <div class="welcome">
            <h1 class="large_title"> Църква </h1>
            <h1 class="large_title"> Мирвам </h1>
            <h6 class="welcome_message"> Добре Дошли!</h6>
            <img class="welcome_underline" src="../assets/images/underline.png">
        </div>
    </div>
  </section>
  <section>
    <div class="big_square">
        <div class="small_square content">
            <h4>Предстоящи Предавания</h4>
        </div>
    </div>
    <div class="big_square">
        <div class=" big_square content">
            <p>
                Имаме предавания 3 или 4 пъти в седмицата, в зависимост колко сме заети. Можете да ни гледате на
                живо по
                YouTube или Facebook
                от 9:30ч. Всяко предаване е около 90 минути. Включва песни, слово, въпроси и отговори от зрителите и
                молитви.</p>
        </div>
    </div>
    <div class="small_square">
        <div class="small_square content">
            <h4>20th May</h4>
            <h5>Коринтяни 1
                "Титла на предаване"</h5>
        </div>
    </div>
    <div class="small_square">
        <div class="small_square content">
            <h4>23th May</h4>
            <h5>Коринтяни 2
                "Титла на предаване"</h5>
        </div>
    </div>
    <div class="small_square">
        <div class="small_square content">
            <h4>25th May</h4>
            <h5> Евреи
                "Титла на предаване"</h5>
        </div>
    </div>
  </section>

