<!DOCTYPE html>

<section>
    <div class="welcome_image">
        <div class="welcome">
            <h1 class="large_title"> Църква </h1>
            <h1 class="large_title"> Мирвам </h1>
            <h6 class="welcome_message"> Добре Дошли!</h6>
            <img class="welcome_underline" src="../assets/images/underline.png">
        </div>
    </div>
</section>
<section>
    <div class="highlight-bg has-margin-bottom">
        <div class="container event-announce">
            <div class="text-ec">
                <span> UPCOMING EVENT </span>
                <h3> "Real Leaders" - Kings Chapter 13 </h3>
            </div>
            <br>
            <a class="btn btn-primary btn-lg" role="button"> Program Details </a>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row feature-block">
            <div class="col has-margin-bottom">
                <img class="img-responsive" src="../../assets/images/group-prayer.jpg">
                <h5> A VAST CHRISTIAN FAMILY </h5>
                <p>Small paragraph </p>
            </div>
            <div class="col has-margin-bottom">
                <img class="img-responsive" src="../../assets/images/group-prayer.jpg">
                <h5> A VAST CHRISTIAN FAMILY </h5>
                <p>Small paragraph </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="highlight-bg has-margin-bottom">
        <div class="container event-list">
            <div class="section-title">
                <h4> ONLINE STREAMS </h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5> JULY 16 </h5>
                    <p> weekly stream </p>
                </div>
                <div class="col-md-12">
                    <h5> JULY 29 </h5>
                    <p> A game of Tarot </p>
                </div>
                <div class="col-md-12">
                    <h5> AUGUST 8 </h5>
                    <p> Weekly stream </p>
                </div>
            </div>
        </div>
    </div>
</section>