<!DOCTYPE html>

<section>
    <div class="welcome_image">
        <div class="welcome">
            <h1 class="large_title"> Църква </h1>
            <h1 class="large_title"> Мирвам </h1>
            <h6 class="welcome_message"> Добре Дошли!</h6>
            <img class="welcome_underline" src="../assets/images/underline.png">
        </div>
    </div>
</section>
<section>
    <div class="highlight-bg">
        <div class="container event-announce">
            <div class="text-ec">
                <span> UPCOMING EVENT </span>
                <h3> "Real Leaders" - Kings Chapter 13 </h3>
            </div>
            <br>
            <a class="btn btn-primary btn-lg" role="button"> Program Details </a>
        </div>
    </div>
</section>
<section class="articles">
    <div class="section-title">
        <h4 style="margin-top:0"> СТАТИИ И НОВИНИ </h4>
    </div>
    <div class="article_grid">

        <a href="#" class="article_item">
            <div class="article_image" style="background-image:url('../../assets/images/group-prayer.jpg')"></div>
            <div class="article_text">
                <div class="article_title">
                    A VAST CHRISTIAN FAMILY
                </div>
                <div class="article_description">
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you. This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are. 
                </div>
                <div class="article_author">
                    By Me
                </div>
            </div>
        </a>

        <a href="#" class="article_item">
            <div class="article_image" style="background-image:url('../../assets/images/group-prayer.jpg')"></div>
            <div class="article_text">
                <div class="article_title">
                    A VAST CHRISTIAN FAMILY
                </div>
                <div class="article_description">
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you. This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are. 
                </div>
                <div class="article_author">
                    By Someone
                </div>
            </div>
        </a>

        <a href="#" class="article_item">
            <div class="article_image" style="background-image:url('../../assets/images/group-prayer.jpg')"></div>
            <div class="article_text">
                <div class="article_title">
                    A VAST CHRISTIAN FAMILY
                </div>
                <div class="article_description">
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you. This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are. 
                </div>
                <div class="article_author">
                    By Author
                </div>
            </div>
        </a>

        <a href="#" class="article_item">
            <div class="article_image" style="background-image:url('../../assets/images/group-prayer.jpg')"></div>
            <div class="article_text">
                <div class="article_title">
                    A VAST CHRISTIAN FAMILY
                </div>
                <div class="article_description">
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you. This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are. 
                </div>
                <div class="article_author">
                    By Author
                </div>
            </div>
        </a>
    </div>

</section>
<section class="livestreams">

    <div class="highlight-bg has-margin-bottom">
        <div class="container event-list">
            <div class="section-title">
                <h4> ONLINE STREAMS </h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5> JULY 16 </h5>
                    <p> weekly stream </p>
                </div>
                <div class="col-md-12">
                    <h5> JULY 29 </h5>
                    <p> A game of Tarot </p>
                </div>
                <div class="col-md-12">
                    <h5> AUGUST 8 </h5>
                    <p> Weekly stream </p>
                </div>
            </div>
        </div>
    </div>
</section>