
<div class="general-container">

    <div class="main-video-container">
        <h3 class="main-vid-title"> Откровение на Йоана 1 глава </h3>
        <video src="https://www.youtube.com/watch?v=AWMsD6X0ddA" loop controls class="main-video"></video>
    </div>

    <div class="video-list-container">
        <div class="list">
            <h3 class="list-title">Откровение на Йоана 2 глава, 1-7 стих</h3>
            <video src="https://www.youtube.com/watch?v=w37MUs50xSQ" class="list-video"></video>
        </div>

        <div class="list">
            <h3 class="list-title">Откровение на Йоан 2 глава, 8-11 стих</h3>
            <video src="https://www.youtube.com/watch?v=7CXY8yx4FXY" class="list-video"></video>
        </div>

        <div class="list">
            <h3 class="list-title">Откровение на Йоан 2 глава, 12-17 стих</h3>
            <video src="https://www.youtube.com/watch?v=qIrDzMtkIec" class="list-video"></video>
        </div>

        <div class="list">
            <h3 class="list-title">Откровение на Йоан 2 глава, 18-29 стих</h3>
            <video src="https://www.youtube.com/watch?v=w3w9ul7qZSs" class="list-video"></video>
        </div>

        <div class="list">
            <h3 class="list-title">Откровението на Йоана 3 глава, 1-6 стих</h3>
            <video src="https://www.youtube.com/watch?v=AYsZe6pYMmQ" class="list-video"></video>
        </div>
    </div>
</div>

<script src="js/lessons.component.js"></script>



